<div id="<%= dom_id habit %>">
  <p>
    <strong>Name:</strong>
    <%= habit.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= habit.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= habit.user_id %>
  </p>

</div>
